:root {
  --grey: #cccccc;
  --white: #ffffff;
  --blue: #2c55ac;
  --background: #1a1a1a;
  --scrollbar-track: #f1f1f1;
  --dark-grey: #a9a9a9;
}

body {
  margin: 0;
  padding: 15px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 30px;
}

.form input {
  border: 2px solid var(--white);
  border-radius: 10px;
  padding: 8px 10px;
  width: 300px;
  font-size: 14px;
  outline: none;
  background-color: var(--background);
  color: var(--white);
}

.form input::placeholder {
  color: var(--grey);
}

.form button {
  border-radius: 10px;
  padding: 8px 0;
  width: 300px;
  background-color: var(--grey);
  color: var(--white);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  outline: none;
  border: none;
}

.form button.enabled {
  background-color: var(--blue);
  cursor: pointer;
}

.m0 {
  margin: 0;
}

.title {
  color: var(--white);
  text-transform: uppercase;
  font-weight: bold;
}

/* SCROLL BAR */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--grey);
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--dark-grey);
}

.iframe {
  width: 50vw;
  height: 50vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
